<section class="container">
  <div class="gray">
  </div>
  <div class="tech">
  </div>
  <div class="centrado">
    <h2 class="title" >Bienvenidos a Compragamer!!</h2>
    <p class="paragraph">Las mejores ofertas para armar tu pc</p>
      <div>
        <button class="startbutton" routerLink="/app-product-list">
          Empezar
        </button>
      </div>
    </div>
</section>
<!-- <div class="subcategorias-carousel">
  <div style="background-image: url('https://compragamer.net/categorias_demo/{{subCategory.imagen}}'); height: 100px;"
  *ngFor="let subCategory of subCategories"
  class="subcategoria-item" [class.selected]="subCategory === seleccionarSubcategoria"
  (click)="seleccionarSubcategoria(subCategory)">
  </div>
</div> -->
