<header class="header">
  <div class="logo">
    <img src="../../assets/image.svg" routerLink="/" alt="">
  </div>
  <div class="links">
    <a class="header-link" routerLink="/app-register">Registrarse</a>
    <a class="header-link" routerLink="/app-product-list">Productos</a>
  </div>
  <div>
    <button class="cart-button" class="cart-button fas fa-shopping-cart fa-xl" matBadge="{{cartItems.length}}" matBadgePosition="above after" (click)="openModal()"></button>
  </div>
  <div class="modal-container" [ngClass]="{ 'open': isModalOpen }">
    <div style="position: sticky; top: 1px; display: flex;">
      <button class="close-button fas fa-times" (click)="closeModal()"></button>
    </div>
    <ul class="modal-list" *ngFor="let product of cartItems" style="color: black">
      <div> <img class="productimage" src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_{{ product.imagenes[0].nombre}}-med.jpg"></div>
      <li>{{ product.nombre }}</li>
      <li>
        <p>{{ currencyPipe.transform(product.precioConIVA, 'ARS ') }}</p>
        <button class="erasebutton" (click)="borrarItem(product)">Borrar</button>
      </li>
    </ul>
    <div *ngFor="let cartItem of cartItems">
      <p *ngIf="cartItem.length === 0">No tienes productos en tu carrito.</p>
    </div>
  </div>
</header>
