.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.productimage{
  height: 45px;
}

.productname{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.modal-list li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
  margin-bottom: 30px;
}

.modal-list img {
  height: 30px;
  flex-wrap: wrap;
  justify-items: end;
}

.logo img {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 60px;
  margin-left: 10px;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.links a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 20px;
  position: relative;
  top:9px;
}

.cart-count {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 20px;
  left: 25%;
}

.cart-count-number {
  cursor: pointer;
  border-radius: 100%;
  background-color: rgb(251, 39, 39);
  width: 16px;
  height: 16px;
  align-items: center;
  text-align: center;
  font-size: 11px;
}

/* Estilos para el modal */
.modal-container {
  position: fixed;
  top: 23%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  width: 600px;
  overflow-y: auto;
  display: none;
  z-index: 10;
  list-style-type: none;
  height: 50vh;
}

.modal-container.open {
  display: block;
  animation: slideDown 0.3s ease-in-out;
  list-style-type: none;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  flex-wrap: wrap;
  justify-content: end;
}

.erasebutton{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #FF8A01;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.erasebutton:hover {
  background-color: #9d6c01;
}

@keyframes slideDown {
  0% {
    transform: translate(-50%, -70%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

