<div class="subcategorias-carousel">
  <div style="background-image: url('https://compragamer.net/categorias_demo/{{subCategory.imagen}}'); background-size: contain;"
  *ngFor="let subCategory of subCategories"
  class="subcategoria-item" [class.selected]="subCategory === seleccionarSubcategoria"
  (click)="seleccionarSubcategoria(subCategory)">
  <p class="carrousel-text">{{ subCategory.nombre }}</p>
</div>
</div>
<span>Listado de productos disponibles</span>
<button mat-button [matMenuTriggerFor]="menu" class="dropdown-button">Seleccionar Categoría ▿ </button>
<mat-menu #menu="matMenu" class="dropdown-menu">
  <div mat-menu-item *ngFor="let subCategory of subCategories" (click)="seleccionarSubcategoria(subCategory)">
    <a class="subcategory-dropdown-link" href="/app-subcategories/{{subCategory.id}}">{{ subCategory.nombre }}</a>
  </div>
</mat-menu>
<div class="product-list">
  <div class="product-card" *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: page }">
    <div class="subCategories" *ngFor="let subCategory of subCategories">
      <div *ngIf="subCategory.id == product.id_subcategoria">
        <a href="/app-subcategories/{{subCategory.id}}">Subcategoría: {{ subCategory.nombre  }}</a>
      </div>
    </div>
    <div class="product-details">
      <div *ngFor="let image of images">
        <div class="image" *ngIf="image[0] == product.nombre">
          <img [src]="image[1]" alt="">
        </div>
      </div>
      <h3 class="product-name">{{ product.nombre }}</h3>
      <p class="product-price">{{ currencyPipe.transform(product.precioConIVA, 'ARS ') }}</p>
    </div>
    <button class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>
<pagination-controls class="pagination" (pageChange)="page = $event" ThemePalette="" previousLabel="Anterior" nextLabel="Siguiente">
</pagination-controls>
<span>Listado de productos Demasiado baratos para ser real!!!</span>
<div class="product-list">
  <div *ngFor="let product of products">
    <div *ngIf="esPrecioMasBarato(product.precio)" class="product-card">
      <div class="product-details">
        <div class="subCategories" *ngFor="let subCategory of subCategories">
          <div *ngIf="subCategory.id == product.id_subcategoria">
            <a href="../subcategorias/subcategorias.component.html" class="product-subcategory">{{ subCategory.nombre }}</a>
          </div>
        </div>
        <h3 class="product-name">{{ product.nombre }}</h3>
        <div *ngFor="let image of images">
          <div *ngIf="image[0] == product.nombre">
            <img [src]="image[1]" alt="">
          </div>
        </div>
        <p class="product-price">{{ currencyPipe.transform(product.precioConIVA, 'ARS ') }}</p>
      </div>
    <button class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>

